.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, #6B00A2 0%, #390097 100%);

  .list {
    width: 630px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .item {
      width: 170px;
      height: 170px;
      background: rgba(255, 255, 255, .7);
      border-radius: 40px;
      margin: 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #EA4D2C;
    }

    .selected {
      box-sizing: border-box;
      border: #ffdf2f 2px solid;
      box-shadow: 0 0 30px 10px #ffdf2f;
    }
  }

  .button {
    position: fixed;
    bottom: 120px;
    width: 500px;
    height: 90px;
    background: linear-gradient(90deg, #FFA62E, #EA4D2C);
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
  }
}